@charset "utf-8";

$blue: #188eee !default;
$light-blue: lightblue !default;
$light-green: lightgreen !default;
$grey: #999 !default;
$light-grey: #f5f5f5 !default;
$shadow-green: #76EE00 !default;
$search-black: #333 !default;
$heavy-blue: #1C86EE !default;
$btn-active-bgd-blue: #1874CD !default;