%likeButton {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  top: 5px;
  right: 15px;
  width: 50px;
  height: 80%;
  .icon-like {
    position: absolute;
    top: 2px;
    right: 40px;
    font-size: 25px;
  }
  .icon-like-active {
    color: red;
  }
}