@import 'components/logo';
@import 'components/search';
@import 'components/likeList';

.indexPage {
  position: relative;
  width: 100%;
  height: calc(100vh - 20px);
  padding: 10px;

  .logo-wrapper {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    .logo {
      @extend %logo;
    }
  }

  .search-wrapper {
    position: relative;
    top: 16%;
    .search {
      @extend %search;
    }
  }

  .likeList-container {
    position: relative;
    width: 100%;
    height: 65%;
    top: 20%;
    .likeList {
      @extend %likeList;
    }
  }
}
